<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>DCC Assignment 4</title>
    <!-- Your CSS stylesheets or links go here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <h1>DCC Assignment 4</h1>
        <!-- Your navigation or header content goes here -->
    </header>

    <main>
        <!-- Your main content goes here -->
        <p>Hello, world!</p>
    </main>

    <footer>
        <!-- Your footer content goes here -->
        <p>Kaushal Bule</p>
    </footer>

    <!-- Your JavaScript scripts or links go here -->
<!--    <script src="script.js"></script>-->
</body>
</html>
